/* Styles for the functionality of sidebar */
:root {
    --width-sidebar: 300px;
}

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: var(--width-sidebar);
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: var(--width-sidebar);
    width: 0;
    height: 100%;
    margin-left: calc(var(--width-sidebar) * -1);
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: var(--width-sidebar);
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /* padding: 15px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: calc(var(--width-sidebar) * -1);
}

#page-content-wrapper,
.container-fluid {
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: 0px;
}

#map {
    height: 95%;
}

#heading {
    padding: 15px;
    background: #000;
}

.text {
    margin: 0;
    display: inline-block;
    color: white;
    font-size: xx-large;
    line-height: 38px;
    padding-left: 35px;
}

#menu-toggle {
    float: left;
}

/* Styles for the sidenav */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: var(--width-sidebar);
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: white;
}

.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    color: #999999;
}

ul {
    list-style: none;
    padding-left: 0;
}

li:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Infowindow styles */
.info-window {
    font-family: 'Open Sans Condensed', sans-serif;
}

.info-window h1 {
    font-size: 18px;
}

.info-window p {
    line-height: 1px;
}

.info-window img {
    float: left;
}

.text-location {
    float: left;
    padding-left: 5px;
}

.fa-phone, .fa-globe-europe {
    height: 1px !important;
    padding-right: 5px;
}

.footer {
    padding-top: 12px;
    color: gray;
    font-size: 10px;
}